<mat-grid-list cols="2"  [gutterSize]="'10px'">
  <mat-grid-tile *ngFor="let pictura of pictura">
      <mat-card>
          <mat-card-header>
            <mat-card-title >{{pictura.denumire}}</mat-card-title>
            <mat-card-subtitle>{{pictura.descriere}}</mat-card-subtitle>
          </mat-card-header>
          
          <img mat-card-image src={{pictura.cale_poza}} alt="">
          
          <mat-card-content>
              <p> <b>Dimensiune: </b> {{pictura.dimensiune}} </p>
              <p> <b>Pret: </b> {{pictura.pret}} RON </p>
          </mat-card-content>
          <mat-card-actions class="dreapta">
            <button mat-button (click)="Like(pictura.id_pictura)">
              <img src="../../assets/images/like.png">  
            </button>
          </mat-card-actions>
          <mat-card-footer>
            <p></p>
          </mat-card-footer>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>
