
<table>
    <tr>
        <td><img src="../../assets/images/logo.png" width="300"></td>
        <td> 
            <h1>Vrei un tablou?</h1>
                <h1>Vrei să faci un cadou special?</h1>
        <h2>Uite-te în galerie să vezi daca gasești ce îți place, sau poti face o comandă.</h2>
    </td>
    </tr>
</table>

<div class="play-container">
    
    <h1 >Galerie</h1>
    <p class="linie"></p>
    <table>
        <tr>
            <td class="margine"><img src = "../../assets/images/galerie/PicturiPanza.png" alt="poza" width=100%>
                <h2>Culoarea din casa ta începe cu un tablou!</h2>
                <button mat-button (click)="Redirect_Evenimente('galerie')" >Vezi mai multe</button>
            </td>

            <td class="margine"><img src = "../../assets/images/galerie/PicturiPerete.png" alt="poza" width=100% >
                <h2>Interior sau exterior, lasă culoarea să te înveseleasca!</h2>
                <button mat-button (click)="Redirect_Evenimente('galerie')">Vezi mai multe</button>
            </td>    
        </tr>
        <tr>
            <td class="margine"><img src = "../../assets/images/galerie/PicturiCani.png" alt="poza" width=100% > 
                <h2>Personalizează-ți cana preferată, sau colecționează pahare colorate și vesele! 
                </h2>
                <button mat-button (click)="Redirect_Evenimente('galerie')">Vezi mai multe</button>
            </td> 

            <td class="margine"><img src = "../../assets/images/galerie/felicitari.png" alt="poza" width=100%>
                <h2>Surprinde persoana dragă cu un cadou mic, cochet și colorat!</h2>
                <button mat-button (click)="Redirect_Evenimente('galerie')">Vezi mai multe</button>
            </td>

        </tr>
        <tr>
            <td class="margine"><img src = "../../assets/images/galerie/martisor.png" alt="poza" width=100%>
                <h2>Primavara incepe cu un martisor! Dariueste unul creativ!</h2>
                <button mat-button (click)="Redirect_Evenimente('galerie')">Vezi mai multe</button>
            </td>
            <td class="margine"><img src = "../../assets/images/galerie/meniu.png" alt="poza" width=100%>
                <h2>Vrei ca meniul tău să iasă în evidență?</h2>
                <button mat-button (click)="Redirect_Evenimente('galerie')">Vezi mai multe</button>
            </td>
        </tr>
    </table>
    
</div>

<div class="play-container">
    

    <h1>Evenimente</h1>
    <p class="linie"></p>
    <table  class="culoare">
    <tr>
        <td><img src='../../assets/images/expo2.jpg' alt="a doua expozitie"width="70%"></td>
        <td><h1> A doua expozitie de picturi</h1> 
           <h2>- 01.06.2019 - <br><br>
            Participantii au avut parte de o surpriza: o tombola. <br>
            Toata lumea s-a inscris si a asteptat extragerea, in timp ce au baut o cafea buna si au admirat picturile. <br>
            Premiul a constat intr-un tablou si o felicitare.<br>
        </h2> 
            <button mat-button (click)="Redirect_Evenimente('evenimente')">Vezi mai multe</button>
        </td>
        
    </tr>
    </table>
    <br>
    <table>
    <tr> 
        <td> <h1> Prima expozitie de picturi</h1> 
            <h2>- 13.10.2018 - <br> <br>
                Familie, prieteni, veselie, arta si cafea. <br>
                Toate acestea contribuit la o expozitie reusita.<br>
                Toata lumea a plecat acasa cu zambetul pe buze si cu o amintire frumoasa.
            </h2>
            <button mat-button (click)="Redirect_Evenimente('evenimente')">Vezi mai multe</button>
        </td>
        <td><img src='../../assets/images/expo1.jpg' alt="prima expozitie" width="70%" ></td>
   </tr>  
</table>
</div>


<div class="footer">
    <h2><img src="../assets/images/logo.png" height="200"> <br>

      <img src="../../assets/images/mail.ico" height="30">  andreea.lupu@ulbsibiu.ro
      <img src="../../assets/images/phone.ico" height="30">  0740241423 
        <br>
      <img src="../../assets/images/instagram.png" height="30">  lupulcreativ 
      <img src="../../assets/images/facebook.png" height="30">  Lupul Creativ 
    </h2>
</div>
