
<table>
    <tr>
        <td><img src="../../assets/images/logo.png" width="300"></td>
        <td> 
            <h1>Vrei un tablou?</h1>
                <h1>Vrei să faci un cadou special?</h1>
        <h2>Uite-te în galerie să vezi dacă găsești ce îți place, sau poți face o comandă.</h2>
    </td>
    </tr>
</table>


<div class="play-container" *ngIf="id_loggedin">
<h1  >Pentru tine</h1>
<p class="linie"></p>

<mat-grid-list cols="4"  [gutterSize]="'10px'">
    <mat-grid-tile *ngFor="let pictura of pictura">
        <mat-card>
            <mat-card-header>
              <mat-card-title >{{pictura.denumire}}</mat-card-title>
            </mat-card-header>
            
            <img mat-card-image src={{pictura.cale_poza}} alt="">
            
            <mat-card-actions class="dreapta">
              <button mat-button (click)="Like(pictura.id_pictura)">
                <img src="../../assets/images/like.png">  
              </button>
            </mat-card-actions>
            <mat-card-footer>
              <p></p>
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  

</div>





<div class="play-container">
    
    <h1 >Galerie</h1>
    <p class="linie"></p>
    <table>
        <tr>
            <td class="margine"><img src = "../../assets/images/galerie/PicturiPanza.png" alt="poza" width=100%>
                <h2>Culoarea din casa ta începe cu un tablou!</h2>
                <button mat-button (click)="Redirect_Evenimente('galerie',1)" >Vezi mai multe</button>
            </td>

            <td class="margine"><img src = "../../assets/images/galerie/PicturiPerete.png" alt="poza" width=100% >
                <h2>Interior sau exterior, lasă culoarea să te înveseleasca!</h2>
                <button mat-button (click)="Redirect_Evenimente('galerie',2)">Vezi mai multe</button>
            </td>    
        </tr>
        <tr>
            <td class="margine"><img src = "../../assets/images/galerie/PicturiCani.png" alt="poza" width=100% > 
                <h2>Personalizează-ți cana preferată, sau colecționează pahare colorate și vesele! 
                </h2>
                <button mat-button (click)="Redirect_Evenimente('galerie',3)">Vezi mai multe</button>
            </td> 

            <td class="margine"><img src = "../../assets/images/galerie/felicitari.png" alt="poza" width=100%>
                <h2>Surprinde persoana dragă cu un cadou mic, cochet și colorat!</h2>
                <button mat-button (click)="Redirect_Evenimente('galerie',4)">Vezi mai multe</button>
            </td>

        </tr>
        <tr>
            <td class="margine"><img src = "../../assets/images/galerie/martisor.png" alt="poza" width=100%>
                <h2>Primăvara începe cu un mărțișor! Dariuește unul creativ!</h2>
                <button mat-button (click)="Redirect_Evenimente('galerie',5)">Vezi mai multe</button>
            </td>
            <td class="margine"><img src = "../../assets/images/galerie/meniu.png" alt="poza" width=100%>
                <h2>Vrei ca meniul tău să iasă în evidență?</h2>
                <button mat-button (click)="Redirect_Evenimente('galerie',6)">Vezi mai multe</button>
            </td>
        </tr>
    </table>
    
</div>

<div class="play-container">
    

    <h1>Evenimente</h1>
    <p class="linie"></p>
    <table  class="culoare">
    <tr>
        <td><img src='../../assets/images/expo2.jpg' alt="a doua expozitie"width="70%"></td>
        <td><h1> A doua expoziție de picturi</h1> 
           <h2>- 01.06.2019 - <br><br>
            Participanții au avut parte de o surpriză: o tombola. <br>
            Toată lumea s-a înscris și a asteptat extragerea, în timp ce au băut o cafea bună și au admirat picturile. <br>
            Premiul a constat într-un tablou și o felicitare.<br>
        </h2> 
            <button mat-button (click)="Redirect_Evenimente('evenimente',null)">Vezi mai multe</button>
        </td>
        
    </tr>
    </table>
    <br>
    <table>
    <tr> 
        <td> <h1> Prima expoziție de picturi</h1> 
            <h2>- 13.10.2018 - <br> <br>
                Familie, prieteni, veselie, arta și cafea. <br>
                Toate acestea contribuit la o expozitie reușită.<br>
                Toata lumea a plecat acasa cu zambetul pe buze și cu o amintire frumoasă.
            </h2>
            <button mat-button (click)="Redirect_Evenimente('evenimente', null)">Vezi mai multe</button>
        </td>
        <td><img src='../../assets/images/expo1.jpg' alt="prima expozitie" width="70%" ></td>
   </tr>  
</table>
</div>


<div class="footer">
    <h2><img src="../assets/images/logo.png" height="200"> <br>

      <img src="../../assets/images/mail.ico" height="30">  andreea.lupu@ulbsibiu.ro
      <img src="../../assets/images/phone.ico" height="30">  0740241423 
        <br>
      <img src="../../assets/images/instagram.png" height="30">  lupulcreativ 
      <img src="../../assets/images/facebook.png" height="30">  Lupul Creativ 
    </h2>
</div>
