
.play-container {
    padding: 5%;
    margin-top: 5%;
    background-color: rgb( 240, 248, 255);
    border: 3px solid rgb(  240, 248, 255);

    h1{
        text-align: center;
    }
}

.img-button{
    display: block;
    height: 45%;
    cursor: pointer;
    &:hover {
        background: darken(white, 30%);
    }
}

.linie{
    border-bottom: 1px solid rgb(155, 147, 147);
    margin : 2% 25%;
}

.example-form {
    width: 90%;
    font-size: large;
    margin: 5%;
    background-color: transparentize($color: rgb(56, 162, 173), $amount: 0.8);
}
  
.example-full-width {
    width: 90%;
}
.mat-button{
    background-color:transparentize($color: rgb(56, 162, 173), $amount: 0.3);
    color: white;
    font-size: large;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
}