.mat-card-image{
    margin:2%;
    max-height: 45vh;
    width: auto;
}
.mat-button{
    background-color: #38a2ad;
    color: white;
}
.mat-card{
    margin: 20%;
    padding: 5%;
}
.mat-card-content{
    font-size: medium;
}
.mat-card-header{
    font-size: medium;
}
.mat-card-title{
    text-align: center;
}

.dreapta{
    text-align: right;
}