.play-container {
    padding: 5%;
    margin-top: 5%;
    background-color: rgb( 240, 248, 255);
    border: 3px solid rgb(  240, 248, 255);

}
.example-form {
    width: 80%;
  }
  
.example-full-width {
    font-size: 25px;
    width: 90%;
}
  
.heading{
    color: rgb(56, 162, 173);;
    margin: 2% 30%;
    text-align: center;
    font-size: 30px;

}
img{
    align-items: center;
}