
<div class="play-container">
 
<table  class ="example-full-width">
  <tr>
    <td>
      <form class="example-form">
        <h1 class="titlu">
          <img src="../../assets/images/login.jpg" height="80px"><br>
          Conectează-te aici!
        </h1>

        <mat-label><h1>Username:</h1></mat-label>
        
        <mat-form-field class="example-full-width">
          <mat-label>
            <input matInput  #login_username required>{{login_username.value}}
          </mat-label>
        </mat-form-field>
        <mat-label><h1>Parola:</h1></mat-label>
        <mat-form-field class="example-full-width">
          <mat-label>
            <input matInput type="password" #login_password>{{login_password.value}}
          </mat-label>
        </mat-form-field>
        <h1>*toate campurile sunt obligatorii!</h1>
        <button mat-button (click)=Login(login_username.value,login_password.value,null)>CONECTARE!</button>
      </form>
    </td>

    <td>
      <form class="example-form">
        <h1 class="titlu">
          <img src="../../assets/images/signup.png" height="80px"><br>
          Nu ai cont? Înscrie-te aici!</h1>
        <mat-label><h1>Mail:</h1></mat-label>
        
        <mat-form-field class="example-full-width">
          <mat-label>
            <input matInput #signup_mail>{{signup_mail.value}}
          </mat-label>
        </mat-form-field>

        <mat-label><h1>Username:</h1></mat-label>
        
        <mat-form-field class="example-full-width">
          <mat-label>
            <input matInput #signup_username>{{signup_username.value}}
          </mat-label>
        </mat-form-field>
        <mat-label><h1>Parola:</h1></mat-label>
        <mat-form-field class="example-full-width">
          <mat-label>
            <input matInput type="password" #signup_password>{{signup_password.value}}
          </mat-label>
        </mat-form-field>
        <h1>*toate campurile sunt obligatorii!</h1>
        <button mat-button (click)=Login(signup_username.value,signup_password.value,signup_mail.value)>ÎNSCRIERE!</button>
      </form>
    </td>
  </tr>
</table>
  </div>

<div class="footer">
<h2><img src="../assets/images/logo.png" height="200"> <br>

  <img src="../../assets/images/mail.ico" height="30">  andreea.lupu@ulbsibiu.ro
  <img src="../../assets/images/phone.ico" height="30">  0740241423 
    <br>
  <img src="../../assets/images/instagram.png" height="30">  lupulcreativ 
  <img src="../../assets/images/facebook.png" height="30">  Lupul Creativ 
</h2>
</div>