<div class="play-container">
   
    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile>
          <form class="example-form">
              <h1 class="heading"> Conecteaza-te aici!</h1>
              
              <mat-form-field class="example-full-width">
                
                <mat-label><img src="../../assets/images/login.jpg" height="30px">  Username </mat-label>
                <input matInput placeholder="" >
              </mat-form-field>
              
      <mat-form-field class="example-full-width">
          <mat-label><img src="../../assets/images/password.png" height="30px">  Parola </mat-label>
          <input matInput placeholder="" >
        </mat-form-field>
        <br>
        <button mat-button class="butonas">Conectare</button>
      </form>
      </mat-grid-tile>

      <mat-grid-tile>
          <form class="example-form">
              <h1 class="heading"> Nu ai cont? Inscrie-te aici!</h1>
              <mat-form-field class="example-full-width">
                <mat-label><img src="../../assets/images/mail_black.png" height="20px"> Email</mat-label>
                <input matInput placeholder="Ex. night@ondark.com">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label><img src="../../assets/images/login.jpg" height="30px"> Username</mat-label>
                <input matInput placeholder="Ex. NightOnDark">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                  <mat-label><img src="../../assets/images/password.png" height="30px"> Password</mat-label>
                  <input matInput placeholder="">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label><img src="../../assets/images/check.png" height="30px"> Confirm password!</mat-label>
                  <input matInput placeholder="">
                </mat-form-field>
              <br>
              <button mat-button class="butonas"> Inscriere </button>
            </form>
      </mat-grid-tile>
    </mat-grid-list>

</div>

<div class="footer">
<h2><img src="../assets/images/logo.png" height="200"> <br>

  <img src="../../assets/images/mail.ico" height="30">  andreea.lupu@ulbsibiu.ro
  <img src="../../assets/images/phone.ico" height="30">  0740241423 
    <br>
  <img src="../../assets/images/instagram.png" height="30">  lupulcreativ 
  <img src="../../assets/images/facebook.png" height="30">  Lupul Creativ 
</h2>
</div>