<div class="play-container">
    <h1>Evenimente</h1>

    <div class="culoare">
        
        <table >
        <tr>
            <td><img src='../../assets/images/expo2.jpg' alt="a doua expozitie"width="70%"></td>
        <td><h1> A doua expozitie de picturi</h1> 
           <h2>- 01.06.2019 - <br><br>
            Participantii au avut parte de o surpriza: o tombola. <br>
            Toata lumea s-a inscris si a asteptat extragerea, in timp ce au baut o cafea buna si au admirat picturile. <br>
            Premiul a constat intr-un tablou si o felicitare.<br>
           
        </h2> </td>
        </tr>
        </table>


              
                <h2 class="descriere">  Locul expoziției a ramas neschimbat, Rennes Caffee. 
                    La fel ca și data trecuta, familia, prietenii, voia bună, nu au lipsit, dar am avut parte și ceva în plus. <br>
                    De data asta, numărul picturilor a fost mai mare și a fost prezenta mai multa lume. <br>
                    Inafara de Timis și Arges, au venit chiar și niște studenți străini (veniți în Romania cu Erasmus) care au rămas placut surprinși de picturi. <br>
                    
                    A existat și o surpriză pentru cei prezenți la expoziție: o tombolă. 
                    Toată lumea s-a înscris și a așteptat extragerea câștigătorului. 
                    Premiul a fost alcatuit dintr-un tablou, o felicitare și o ciocolată. <br>
                    Au fost x picturi, dar atentia a fost îndreptata pe "Fiecare răsărit este un cadou", "farul" și "Un lup creativ".
                </h2>

                <table >
                    
                    <tr>
                        <td>
                            <h2>Castigatorul tombolei, Radu-Stefan Berghia poate spune mai multe detalii: "........." <br>
                                .......<br>
                            </h2> 
                        </td>
                        <td>
                            <img src='../../assets/images/expo2/steve.jpg' alt="castigatorul tombolei" width=60%>
                        </td>
                    </tr>
                </table>
       

            <mat-expansion-panel class="culoare">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h2>Vezi mai multe imagini</h2>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                <mat-grid-list cols="2" rowHeight="2:1">

                    <mat-grid-tile>
                        <img src='../../assets/images/expo2/picturi1.jpg' alt="picturi" width =75% height=95% >
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <img src='../../assets/images/expo2/picturi2.png' alt="picturi" width=75% height=95%  >
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <img src='../../assets/images/expo2/picturi3.png' alt="picturi" width=75% height=95% >
                    </mat-grid-tile>

                    
                    <mat-grid-tile>
                        <img src='../../assets/images/expo2/ana.jpg' alt="picturi" width=75% height=95% >
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <img src='../../assets/images/expo2/castigator.jpg' alt="castigatorul tombolei" width=75% height=95% >
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <img src='../../assets/images/expo2/premiu.jpg' alt="premiul" width=75% height=95% >
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <img src='../../assets/images/expo2/oameni.jpg' alt="desfasurare" width=75% height=95% >
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <img src='../../assets/images/expo2/oameni2.jpg' alt="desfasurare" width=75% height=95% >
                    </mat-grid-tile>

                  </mat-grid-list>

              
            </mat-expansion-panel>

    </div>
        
    
        <table>
        <tr> 
            <td> <h1> Prima expozitie de picturi</h1> <br>
                <h2>- 13.10.2018 - <br> <br>
                    Familie, prieteni, veselie, arta si cafea. <br>
                    Toate acestea contribuit la o expozitie reusita.<br>
                    Toata lumea a plecat acasa cu zambetul pe buze si cu o amintire frumoasa.
                </h2>
            </td>
            <td><img src='../../assets/images/expo1.jpg' alt="prima expozitie" width=70%></td>
       </tr>  
    </table>
    
    <h2 class="descriere">
        Expoziția a avut loc la Rennes Caffe, pe Bulevardul Victoriei, numărul 29. <br>
        Această primă expoziție a fost "nașterea" Lupului Creativ.
        Prietenii m-au încurajat să fac aceasta expoziție. Cea care m-a încurajat și m-a sprijinit cel mai mult (și atunci și acum) a fost Ana-Maria Mărgărit, barista la Rennes Caffee.
        Au fost prezenți și oameni din Timiș, Alba, Arges care au plecat acasa cu zâmbetul pe buze.<br>
        Familie, prieteni, artă, cafea, veselie, sunt puține cuvinte care pot descrie acea zi. <br>
        Rennes Caffee a rămas "locul de naștere" al Lupului Creativ.<br>
        Au fost x picturi, dar atenția a fost îndreptată pe "Un lup creativ" și "Si-ntocmai cum cu razele ei albe luna, nu micșoreaza și tremuratoare marește și mai tare taina nopții". 


    </h2>

    <mat-expansion-panel >
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Vezi mai multe imagini</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>

    <mat-grid-list cols="2" rowHeight="2:1">

        <mat-grid-tile>
            <img src='../../assets/images/expo/picturi1.jpg' alt="picturi" width =75% height=95% >
        </mat-grid-tile>

        <mat-grid-tile>
            <img src='../../assets/images/expo/picturi2.png' alt="picturi" width=75% height=95%  >
        </mat-grid-tile>

        <mat-grid-tile>
            <img src='../../assets/images/expo/picturi3.jpg' alt="picturi" width=75% height=95% >
        </mat-grid-tile>

        
        <mat-grid-tile>
            <img src='../../assets/images/expo/oameni.jpg' alt="expozitie" width=75% height=95% >
        </mat-grid-tile>

        <mat-grid-tile>
            <img src='../../assets/images/expo/oameni2.png' alt="expozitie" width=75% height=95% >
        </mat-grid-tile>

        <mat-grid-tile>
            <img src='../../assets/images/expo/oamnei3.jpg' alt="expozitie" width=75% height=95% >
        </mat-grid-tile>

      </mat-grid-list>

  
</mat-expansion-panel>


</div>
    
    <div class="footer">
        <h2><img src="../assets/images/logo.png" height="200"> <br>
    
          <img src="../../assets/images/mail.ico" height="30">  andreea.lupu@ulbsibiu.ro
          <img src="../../assets/images/phone.ico" height="30">  0740241423 
            <br>
          <img src="../../assets/images/instagram.png" height="30">  lupulcreativ 
          <img src="../../assets/images/facebook.png" height="30">  Lupul Creativ 
        </h2>
    </div>
    